<!DOCTYPE html>
<html>
<body>


<div style="padding:100px;margin:10px;font-size:35px;">
    <h2>Assigned Operations</h2>
        <ol>
            <li><a href="{% url 'task1' 'PC' %}">Data Frame with ending word 'PC'</a></li>
            <li><a href="{% url 'task1' 'LPC' %}">Data Frame with ending word 'LPC'</a></li>
            <li><a href="{% url 'task1' 'plasmalogen' %}">Data Frame with ending word 'plasmalogen'</a></li>
            <li><a href="{% url 'task2' %}">Adding a new column with name 'Retention Time Roundoff (in mins)'</a></li>
            <li><a href="{% url 'task3' %}">Calculating mean of the data which have same 'Retention Time Roundoff (in mins)'</a></li>
</ol>

</div>
<!---->

</body>
</html>
